/* src/index.css */
/* @tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-flowDark text-white min-h-screen;
} */

/* src/index.css */
/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-flowDark text-white min-h-screen;
} 